# =====================================
# General
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Node.js / NPM (para Streamchat.Webserver y Streamchat.UI)
# =====================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =====================================
# Dist / Build (frontend y backend)
# =====================================
dist/
build/

# =====================================
# Environment files
# =====================================
.env
.env.*.local

# =====================================
# IDEs / Editors
# =====================================
.idea/
.vscode/

# =====================================
# Logs
# =====================================
*.log
logs/

# =====================================
# Security
# =====================================
KickToken.json
TwitchToken.json
app.config.json
*.pem
*.key
*.crt