.message-box{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif';
    display: block;
}
.user {
    font-weight: 700;
    font-size: 15px;
    color: #9250f9;
    display: inline;
    height: 100%;
}
.message {
    color: rgb(239, 239, 241);
    font-size: 15px;
    display: inline;
    height: 100%;
}
.user, .message {
    vertical-align: top;
    text-align: left; /* Left-align text */
    flex-grow: 1; /* Allow both username and message to take available space */
    overflow-wrap: break-word; /* Ensure long words also break correctly */
  }
.platform-icon {
    width: 1.2em; /* Adjusts based on the font size */
    height: 1.2em; 
    object-fit: contain;
    background: none;
    margin-right: 5px;
}
.youtube-icon {
    width: 1.2em; /* Adjusts based on the font size */
    height: 1.2em; 
    border-radius: 50%; /* Make it round */
    padding-right: 0.5rem;
    object-fit: cover;
}